table {
    margin: 30px auto;
    width: 100%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color:lightseagreen;
	font-size:16px;
}
table th {
	padding:10px;
    border: 1px solid darkblue;
	background: #ededed;
}
table th:hover{
    background:lightgray;
}
table tr{
	text-align: center;
	padding-left:20px;
}
table tr td {
	padding:8px;
	border:1px solid #e0e0e0;
	background: #fafafa;
}
table tr:hover td{
	background: lightgray;
}
